<div class="card bg-white shadow p-3">
  <div class="card-header bg-white">
    <%= image_tag("structure/structure-logo.svg", class: "img-fluid", alt: "structure-logo.svg") %>
    <span class="float-end">
      <%= link_to new_structure_path, "data-controller": "turbo", class: "btn btn-primary shadow mb-2" do %>
        <i class="fa-solid fa-plus"></i>
        &nbsp;
        <i class="fa-solid fa-route"></i>
        &nbsp;
        Nuova Struttura
      <% end %>
    </span>
  </div>
  <div class="card-body">
    <table class="table table-hover table-borderless">
      <thead>
        <tr class="text-primary fs-5">
          <th><i class="fa-solid fa-building"></i>&nbsp;Struttura</th>
          <th><i class="fa-solid fa-arrow-up-9-1"></i></th>
          <th colspan=2></th>
        </tr>
      </thead>
      <tbody>
        <% @structures.each do |structure| %>
          <tr>
            <td>
              <%= link_to structure_path(structure), "data-controller": "turbo" do %>
                <%= structure.name %>
              <% end %>
            </td>
            <td><%= structure.position %></td>
            <td>
              <%= link_to edit_structure_path(structure), "data-controller": "turbo", 
            "data-bs-toggle": "tooltip", 
            "title": "Modifica il Record Corrente", class: "edit-link" do %>
                <i class="fa-solid fa-pen-to-square text-warning"></i>
              <% end %>
            </td>
            <td>
              <%= link_to structure_path(structure),
            "data-turbo-method": :delete,
            "data-turbo-confirm": "Sicuri di voler eliminare il record corrente?" , 
            "data-bs-toggle": "tooltip", 
            "title": "Elimina il Record Corrente", class: "delete-link" do%>
                <i class="fa-solid fa-trash text-danger"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>