<div class="row mt-5 pt-3">
  <div class="col-6 offset-3">
    <div class="card border-light shadow">
      <div class="card-body">
        <p>
          <%= image_tag("user/user.svg", class: "img-fluid", alt: "user.svg") %>
          &emsp;
          <span class=" fs-3 fw-bold text-primary">
            Profilo
          </span>
        </p>
        <hr class="text-primary"/>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="mb-3">
            <%= f.label :password %>
            <span class="fst-italic text-primary">
              &nbsp;
              lascia vuoto se non vuoi cambiarla
            </span>
            <br/>
            <%= f.password_field :password, autofocus: true, class: "form-control" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
          <div class="mb-3">
            <%= f.label :password_confirmation %>
            <br/>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :current_password %>
            <span class="fst-italic text-primary">
              &nbsp;
              abbiamo bisogno della tua password attuale per confermare le modifiche
            </span>
            <br/>
            <%= f.password_field :current_password, class: "form-control" %>
          </div>
          <hr class="text-primary"/>
          <div class="d-grid mb-3">
            <%= button_tag(type: "submit", class: "btn btn-primary") do %>
              <strong>
                <i class="fas fa-sign-in-alt"></i>
                &ensp;
                Salva Modifiche
              </strong>
            <% end %>
          </div>
          <div class="d-grid">
            <%= link_to :back, class: "btn btn-warning" do %>
              <strong>
                <i class="fa-solid fa-rotate-left"></i>
                &emsp;
                Annulla
              </strong>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
