<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag(navbar_icon, class: "img-fluid") %>
      &emsp;
      <%= navbar_title %>
    <% end %>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <span class="text-white">
            <%= link_to "#", class: "nav-link active" do %>
              <i class="fa-solid fa-user-astronaut"></i>
              &nbsp;
              <%= full_user %>
            <% end %>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>