<div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-success
 text-white offcanvas-md offcanvas-start">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("sidebar/logos/sidebar_logo.svg", class: "img-fluid") %>
  <% end %>
  <hr>
  <ul class="mynav nav nav-pills flex-column mb-auto">
    <li class="nav-item mb-1">
      <%= link_to home_index_path do %>
        <i class="fa-solid fa-home"></i>
        &nbsp;
        HOME
      <% end %>
    </li>
    <li class="sidebar-item  nav-item mb-1">
      <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#reimbursments" aria-expanded="false" aria-controls="reimbursments">
        <i class="fa-solid fa-receipt"></i>
        &nbsp;
        <span class="topic">RIMBORSI</span>
      </a>
      <ul id="reimbursments" class="sidebar-dropdown list-unstyled collapse bg-dark rounded border border-light" data-bs-parent="#sidebar">
        <li class="sidebar-item">
          <%= link_to "#" do %>
            <i class="fa-solid fa-receipt"></i>
            &nbsp;
            Rimborsi
          <% end %>
        </li>
        <li class="sidebar-item">
          <hr class="text-white">
        </li>
        <li class="sidebar-item px-2 mb-2 text-success-light">
          <i class="fa-solid fa-repeat"></i>
          &nbsp;
          ricorsivi
        </li>
        <li class="sidebar-item">
          <%= link_to mission_reasons_path do %>
            <i class="fa-solid fa-person-walking-luggage"></i>
            &nbsp;
            Motivi Missione
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to mission_paths_path do %>
            <i class="fa-solid fa-map-location-dot"></i>
            &nbsp;
            Percorsi Missione
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to mission_places_path do %>
            <i class="fa-solid fa-city"></i>
            &nbsp;
            Luoghi Missione
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to mission_structures_path do %>
            <i class="fa-solid fa-building"></i>
            &nbsp;
            Strutture Missione
          <% end %>
        </li>
      </ul>
    </li>
    <li class="sidebar-item  nav-item mb-1">
      <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#modules" aria-expanded="false" aria-controls="modules">
        <i class="fa-solid fa-cog"></i>
        &nbsp;
        <span class="topic">MODULI</span>
      </a>
      <ul id="modules" class="sidebar-dropdown list-unstyled collapse bg-dark rounded border border-light" data-bs-parent="#sidebar">
        <li class="sidebar-item">
          <%= link_to veichles_path do %>
            <i class="fa-solid fa-car"></i>
            &nbsp;
            Veicoli
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to transports_path do %>
            <i class="fa-solid fa-train"></i>
            &nbsp;
            Trasporti
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
  <hr>
  <div class="d-flex">
    <div class="dropdown pb-4">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag("sidebar/icons/sidebar_user_icon.svg", class: "rounded-circle img-fluid") %>
        &nbsp;
        <span class="d-none d-sm-inline mx-1">Trantor</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <% unless !admin %>
          <%= link_to rails_admin_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-cogs"></i>
            &nbsp;
            AMMINISTRAZIONE
          <% end %>
        <% end %>
        <hr class="p-1"/>
        <%= link_to destroy_operator_session_path, method: :get, class: "dropdown-item" do %>
          <i class="fa-solid fa-door-open"></i>
          &nbsp;
          USCITA
        <% end %>
      </ul>
    </div>
  </div>
</div>
