  <%= form_with(model: road) do |form| %>
  <div class="card-body bg-white border-0">
    <% if road.errors.any? %>
      <div id="error_explanation" data-turbo-cache="false" class="alert alert-dismissible alert-danger">
        <div style="color: red">
          <h4 class="text-white">
            <%= pluralize(road.errors.count, "errori") %>
            <br/>
            hanno bloccato il salvataggio di questo percorso:
          </h4>
          <ul>
            <% road.errors.each do |error| %>
              <li>
                <strong class="text-white">
                  <%= error.full_message %>
                </strong>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="input-group mb-1">
      <span class="input-group-text input-group-text-fixed bg-secondary">
        <i class="fa-solid fa-road"></i>&nbsp;<%= form.label :name %>
      </span>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text input-group-text-fixed bg-secondary">
        <i class="fa-solid fa-ruler"></i>&nbsp;<%= form.label :road_lenght %>
      </span>
      <%= form.number_field :road_lenght, step: 0.01, class: 'form-control' %>
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text input-group-text-fixed bg-secondary">
        <i class="fa-solid fa-money-bill"></i>&nbsp;<%= form.label :highway_cost %>
      </span>
      <%= form.number_field :highway_cost, step: 0.01, class: 'form-control' %>
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text input-group-text-fixed bg-secondary">
        <i class="fa-solid fa-arrow-up-9-1"></i>&nbsp;<%= form.label :position %>
      </span>
      <%= form.number_field :position, class: 'form-control' %>
    </div>
  </div>
  <div class="card-footer bg-white border-0">
    <%= form.submit class: submit_button %>
    &nbsp;
    <%= link_to roads_path, class: "btn btn-secondary" do %>
      Chiudi
    <% end %>
  </div>
<% end %>