<div class="row p-5 m-5">
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-6 text-center">
      <div class="card border-primary bg-primary shadow">
        <div class="card-body">
          <%= image_tag "login/login-logo.svg", class: "img-fluid", alt: "login-logo.svg" %>
          <br/>
          &emsp;
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-group mb-3 shadow">
              <span class="input-group-text bg-primary text-white"><i class="fa-solid fa-user-astronaut"></i></span>
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>
            <div class="input-group mb-3 shadow">
              <span class="input-group-text bg-primary text-white"><i class="fa-solid fa-key"></i></span>
              <%= f.password_field :password, autofocus: true, class: "form-control" %>
            </div>
            <div class="d-grid mb-5">
              <%= button_tag(type: "submit", class: "btn btn-outline-light shadow") do %>
                <strong>
                  <i class="fas fa-sign-in-alt"></i>&ensp;ACCEDI
                </strong>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>